pytest
pylint
ipdb
jupyterlab
scikit-learn
streamlit
numpy
pandas
matplotlib
seaborn
plotly
altair
scipy
requests
bs4
folium
streamlit_folium

# ingredients_to_nutrients.py
google.cloud.storage
transformers
torch
rapidfuzz
nltk
