altair
bs4
collections
folium
google-cloud-storage
io
ipdb
jupyterlab
matplotlib
nltk
numpy
pandas
plotly

altair
scipy
requests
scikit-learn
scipy
seaborn
sklearn
streamlit
streamlit_folium
string
torch
transformers

#Recipes.py
ast
requests
scikit-learn
scipy
seaborn
sklearn
streamlit
streamlit_folium
string
torch
transformers
